py-cord>=2.0.0rc1
orjson==3.6.4; sys.platform != "win32" and "64" in platform.machine
# ^ We don't install orjson on Windows due to a lack of a native C compiler.
# OrJSON is also 64bit only.
python-dotenv==0.19.2
rich==10.13.0
orm[sqlite]==0.3.1
httpx==0.23.0

# Don't install psutil on windows
psutil==5.9.0

jishkucord==2.5.2
greenlet==1.1.2
aiofiles==0.8.0
beautifulsoup4==4.11.1
setproctitle==1.2.3
validators==0.20.0
